﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 15px 0 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.map-container {
    height: 80vh;
}

#map {
    height: 100%;
    padding-top: 10px;
}

#eventInfo {
    background-color: white;
    padding: 10px 10px 0 10px;
    visibility: hidden;
}

.input-date {
    display: inline-block;
    max-width: 120px;
}

.date-group {
    display: inline-block;
}

.chart-wrapper {
    height: 80vh;
}

.esri-legend__layer-caption {
    display: none;
}
