﻿<div class="row">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active">
            <a href="#distribution" aria-controls="distribution" role="tab" data-toggle="tab">Distribution</a>
        </li>
        <li role="presentation">
            <a href="#beniof" aria-controls="beniof" role="tab" data-toggle="tab">Beniof</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="distribution">
        <div class="row">
            <div class="chart-wrapper">
                <canvas id="distribution-chart" />
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="beniof">
        <div class="row">
            <div class="chart-wrapper">
                <canvas id="beniof-chart"></canvas>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script type="text/javascript" src="/Scripts/graphs.js"></script>
}
