﻿<div class="row">
    <div class="col-md-12">
        <div class="date-group">
            <label for="startDate">From</label>
            <input class="form-control input-date" type="text" id="startDate" autocomplete="off" />
        </div>
        <div class="date-group">
            <label for="endDate">To</label>
            <input class="form-control input-date" type="text" id="endDate" autocomplete="off" />
        </div>
        <button class="btn btn-primary" id="filter">Filter</button>
        <button class="btn btn-default" id="clear">Clear</button>
    </div>
</div>
<div class="row map-container">
    <div class="col-md-12" id="map"></div>
</div>

@section scripts
{
    <script src="https://js.arcgis.com/4.10/"></script>
    <script type="text/javascript" src="~/Scripts/quake_map.js"></script>
}
